In [1]:
# Load the base module
from scripts.scene_extractor import SceneExtractor
from scripts.embedding_model import EmbeddingModel
from scripts.search_tool import SearchTool

scenes = SceneExtractor('examples/Tenet.txt')

In [2]:
# Initialize the embedding model and fine-tune if necessary
embedding_model = EmbeddingModel()
search_tool = SearchTool(embedding_model)

In [3]:
# Embed scenes and search for similar scenes
search_tool.embed_actions_and_dialogues(scenes)

Time taken to embed actions and dialogoue of each scene across all the movie script: 76.78 seconds

In [4]:
# Search for similar action and dialogue based off query text
action_results = search_tool.search_actions("The Protagonist cleans himself and steps towards a car.", scenes, embedding_type='mean')
dialogoue_results = search_tool.search_dialogue("I have two minutes. Make up your mind.", scenes, embedding_type='mean')

In [5]:
# Print action results
action_results

,Similarity,Scene,Action Index,Text
0,0.903632,61,0,"The Protagonist brushes himself clean, SPOTS t..."
1,0.898844,167,16,The Protagonist moves towards the door. Ives s...
2,0.888509,129,0,The Protagonist makes his way through the stor...
3,0.888377,134,3,The Protagonist struggles to his feet.
4,0.887930,45,0,"The Protagonist enters, is approached by a STE..."

In [6]:
# Print dialogoue results
dialogoue_results

,Similarity,Scene,Dialogue Index,Character,Dialogue
0,0.936695,7,5,PROTAGONIST,Bring you in or kill you I have two minutes. M...
1,0.857790,208,14,IVES,Need to know. And you don't. Any other stupid ...
2,0.848231,115,2,SATOR,(quiet) Don't bother. Just tell me if you've s...
3,0.841835,115,0,PROTAGONIST,"Where I'm from, you buy me dinner first."
4,0.841798,46,3,PROTAGONIST,"No, just pass on the order."

In [7]:
# Save embeddings, transformer model name and movie script location
search_tool.save_embeddings('examples/Tenet_embeddings.pkl')

Data saved to examples/Tenet_embeddings.pkl

In [5]:
#Load saved embedding and setup tokenizer model
from scripts.search_tool import SearchTool
new_search_tool = SearchTool(embedding_model=None)
new_search_tool.load_embeddings('examples/Tenet_embeddings.pkl')

Data loaded from examples/Tenet_embeddings.pkl